body {
    text-align: center;
    background-color: rgb(224, 221, 221);
}

#board { 
    background-color: black;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

